@import '../../style/shared-styles.scss';
.intro-section {
    color: $price-color;
    padding: 20px;
    text-align: center;
}

.product-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.thumbnail-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.thumbnail-item {
    width: 120px;
    height: 120px;
    margin-right: 5px;
    border: 2px solid #f4c2c2;
    border-radius: 10px;
}

.thumbnail-item:last-child {
    margin-right: 0;
}

.thumbnail-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.thumbnail-item.active {
    border: 3px solid #f48fb1;
}

.product-details {
    color: $price-color;
    padding: 20px;
    background-color: #fff0f6;
    border-radius: 10px;
    border: 1px solid #f9a1bc;
}

.product-actions {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.product-actions button {
    margin-right: 10px;
    background: $btn-color;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.product-actions button:hover {
    filter: brightness(1.1);
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
}

.border-wrapper {
    border: 1px solid #f9a1bc;
    border-radius: 10px;
    padding: 10px;
}

.product-quantity {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.product-quantity button {
    background-color: transparent;
    border: none;
    color: #c76b98;
    font-size: 20px;
    cursor: pointer;
}

.product-quantity input {
    background-color: transparent;
    border: none;
    color: $price-color;
    font-size: 16px;
    text-align: center;
    width: 40px;
    margin: 0 10px;
}

.product-quantity input:focus {
    outline: none;
}

.prev-button,
.next-button {
    width: 32px;
    height: 32px;
    background-color: #f48fb1;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    border: none;
    z-index: 10;
}

.prev-button .carousel-control-prev-icon,
.next-button .carousel-control-next-icon {
    background-size: 20px 20px; /* icon nhỏ lại */
}


