.container {
    color: #6a4c93;
    height: 100vh;
    background: linear-gradient(to bottom right, #fff0f6, #d0f0f6);
}

.login-form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border: 1px solid #f4c2c2;
    align-items: center;
    justify-content: center;
}

.login-header {
    text-align: center;
    color: #c76b98;
    margin-bottom: 20px;
}

.form-control {
    background-color: transparent;
    border: none;
    color: #4b4b4b;
}

.form-control:focus {
    color: #4b4b4b;
    background-color: transparent;
    outline: none;
    border-color: transparent;    
}

.divider-nospace {
    border-top: 1px solid #c8b6ff;
}

.password-field {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #c76b98;
    cursor: pointer;
}

.checkbox-text {
    color: #a86da0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Màu checkbox khi được chọn */
.checkbox-text input[type="checkbox"]:checked {
    border-color: white;
    background-color: #f48fb1;
}

.form-check-input {
    margin-right: 5px;
}

.register-link {
    color: #c76b98;
    text-decoration: none;
}

.access-right {
    margin-top: 20px;
    width: 200px;
    color: #4b4b4b;
    border: 1px solid #f9a1bc;
}

.access-right:focus {
    border: 1px solid #f9a1bc;
}

.form-control::placeholder {
    color: rgba(168, 109, 160, 0.5);
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: rgba(168, 109, 160, 0.5);
}

.form-control::-ms-input-placeholder {
    color: rgba(168, 109, 160, 0.5);
}

.login-button {
    background: linear-gradient(to right, #e07a99, #a99ef5);
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
}

.divider {
    height: 1px;
    background-color: #a86da0;
    margin: 20px;
}
